<table id="people">
    <thead>
        <th>Name</th>
        <th>Height</th>
        <th>Mass</th>
        <th>Hair color</th>
        <th>Skin color</th>
        <th>Eye color</th>
        <th>Birth year</th>
        <th>Gender</th>
    </thead>
    <tbody>
        <tr *ngFor="let person of people">
            <td>{{person.name}}</td>
            <td>{{person.height}}</td>
            <td>{{person.mass}}</td>
            <td>{{person.hair_color}}</td>
            <td>{{person.skin_color}}</td>
            <td>{{person.eye_color}}</td>
            <td>{{person.birth_year}}</td>
            <td>{{person.gender}}</td>
        </tr>
    </tbody>
</table>